{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'demo/bootstrap/css/bootstrap.min.css' %}">

    <title>
        {% if title %}
            {% block title %}

            {% endblock title %}
        {% else %}
            Demo
        {% endif %}
    </title>
  </head>
  <body>

    {% include "demo/navbar.html" %}
    {% block body %}
    
    {% endblock body %}

    
    <script src="{% static 'demo/bootstrap/js/jquery-3.5.1.slim.min.js' %}" ></script>
    <script src="{% static 'demo/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'demo/bootstrap/js/bootstrap.min.js' %}"></script>
   
  </body>
</html>